.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
    line-break: anywhere;
    gap: 12px;
}
.inner-wrapper{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex: 1 1;
    border-bottom: 0.7px solid black;
}
.inner-wrapper__key-text {
    flex: 2;
    font-size: 0.8em;
   
}
.inner-wrapper__colon{
   flex: 0.2;
   
}
.inner-wrapper__value{
   
    flex: 3 1 0;
    flex-wrap: wrap;
    display: flex;
    font-size: 0.8em;
    font-weight: 700;
}
.inner-wrapper > p{
    margin: 0;
    word-wrap: break-word;
}