.tab-view {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
   padding: 0;
   flex:1;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    
}
.tab-view> .tab-view__item {
    border-bottom: 0.8px solid currentColor;
    padding: 8px;
    flex-basis:50%;
    text-align: center;
    cursor: pointer;
  
}
.tab-view>li.active {
    border-radius: 3px;

    background-color: darkgreen;
    color: white;
    border-bottom: 0.8px solid white;

}
.tab-view>li:hover {
    border-radius: 3px;

    background-color: darkgreen;
    color: white;
    border-bottom: 0.8px solid white;
    transition: all 0.5s;

}